//defines







//固定网页背景

#l_body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--bgurl);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

//文章页不透明

#post.post
  background-color: var(--color-card-unalpha)
