//defines

:root
  --bgBrightness: #00000026;



//固定网页背景

#l_body{
    background: linear-gradient(var(--bgBrightness), var(--bgBrightness)), var(--bgurl);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



//文章页不透明

//#post.post
//  background-color: var(--color-card-unalpha)
